@charset "utf-8";
/* CSS Document */


body
{
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px; 
}

/* .footer_bg
{
    background:url(../images/footer_bg.jpg);
    height:30px;
} */

.topmenu ul 
{
    list-style-type:none;
    padding-right:10px;
}

.topmenu ul li 
{
    display:inline;
    color:#FFFFFF;
    
}
.topmenu ul li a:link, .topmenu ul li a:active, .topmenu ul li a:visited
{
    color:#FFFFFF;
    text-decoration:none;   
}
.topmenu ul li a:hover
{
    color:#000000;  
}

body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}

.login-box {
    /* margin: 75px 75px; */
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 5px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
    height: 40px;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
    height: 40px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 18px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}

.left_nav ul
{
    list-style-type:none;       
    padding:0;
    margin:0;
}
.left_nav ul li
{
    line-height:30px;   
}
.left_nav ul li a:link, .left_nav ul li a:active, .left_nav ul li a:visited
{
    text-decoration:none;
    color:#207ce5;  
}
.left_nav ul li a:hover
{
    color:#000; 
}

.labels
{
    color:#207ce5;  
}
.textFields
{
    border:1px solid #207ce5;
    width:250px;
    height:30px;
    color:#666; 
}
.btns
{
    border:1px solid #666;
    color:#666; 
}
.login_link a:link, .login_link a:active, .login_link a:visited
{
    text-decoration:none;
    color:#207ce5;
}
.login_link a:hover
{
    color:#999999;  
}


/**********************/
/*    Search form     */
/**********************/

.search-form-wrap{
    margin:50px
}

.search-form-wrap .tab-content {
    border-width: 1px;
    border-color: #337ab7;
    border-style: none solid solid solid;
    text-align: center;
    height: 60px;
}

/* .search-form-nav li {
    width: 50%;
        margin-bottom: 30px;
} */

.search-form-nav li {
    width: 50%;
    margin-bottom: 30px;
    color: antiquewhite;
    /* margin-left: 18rem; */
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}
.search-form-nav li .tab-buy {
    text-align: right;
}

.search-form-nav li .tab-sell {
    margin-right: 0px;
}

.search-form {
    padding: 10px;
    padding: 5px;
}

.search-form .form-group {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
}

.search-form .form-group#div_id_amount {
    width: 15em;
}

.search-form .form-group#div_id_currency {
    width: 6em;
}

.search-form .form-group#div_id_place {
    width: 30%;
}

.search-form .form-group#div_id_country_code {
    width: 30%;
}

.search-form .form-group#div_id_online_provider {
    width: 35%;
}

.search-form .form-group input,
.search-form .form-group select {
    border-color: #337ab7;
}

.search-form .form-actions {
    display: inline-block;
    margin-bottom: 0;
}

.form-group .controls .search-form-button {
    font-weight: bold;
    color: #f58220;
    border-color: #f58220;
    background-color: #ffffff;
}

.tab-buy,
.tab-sell {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    list-style: none;
}

.nav-tabs>li.active>.tab-buy,
.nav-tabs>li.active>.tab-buy:hover,
.nav-tabs>li.active>.tab-buy:focus {
    border-color: #337ab7;
    border-bottom-color: transparent;
    font-size: 25px;
    /* 
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: inherit; */
}

.nav-tabs>li.active>.tab-sell,
.nav-tabs>li.active>.tab-sell:hover,
.nav-tabs>li.active>.tab-sell:focus {
    border-color: #337ab7;
    border-bottom-color: transparent;
}

.search-form-wrap>.nav-tabs {
    border-bottom: 1px solid #337ab7;
}

.nav-tabs>li>.tab-sell:hover,
.nav-tabs>li>.tab-buy:hover {
    border-bottom: 1px solid #337ab7;
}

.search-form-checkboxes {
  margin-bottom: -40px;
}

.search-form-checkboxes,
#div_id_sms_not_required,
#div_id_id_not_required {
  display: block;
}

.search-form-sms-not-required,
.search-form-id-not-required,
#div_id_sms_not_required input,
#div_id_sms_not_required p,
#div_id_id_not_required input,
#div_id_id_not_required p {
  display: inline-block;
}

#div_id_sms_not_required p,
#div_id_id_not_required p {
  margin-top: 1px;
}

.search-form-button-advanced {
  display: none;
}

/* Responsive */
@media(max-width:991px) {
    .search-form .form-group {
        display: block;
        width: 100% !important;
        margin: 0 0 5px 0;
    }

    .search-form .form-actions,
    .search-form-button {
        width: 100%;
    }

    .search-form-checkboxes {
      margin-bottom: 0;
    }

    .search-form-id-not-required {
      margin-left: 0px !important;
    }

    .search-form-checkboxes,
    #div_id_sms_not_required,
    #div_id_id_not_required {
      display: block;
    }

    .search-form-sms-not-required,
    .search-form-id-not-required,
    #div_id_sms_not_required input,
    #div_id_sms_not_required p,
    #div_id_id_not_required input,
    #div_id_id_not_required p {
      display: block;
    }

    .search-form-button {
      display: none;
    }

    .search-form-button-advanced {
      display: block;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .search-form .form-group#div_id_amount {
        width: 10em;
    }
}

/* Search form validation */
.search-form .has-error span {
    display: none;
}

.search-form .has-error input,
.search-form .has-error select {
    border: 1px solid #a94442;
}

th{
    color: #fff;
    text-align: center;
    font-size: 15px;
    background: #f58220;
}

/**********************/

.row-1{
    display: flex;
    justify-content: center;
}

.box-footer{
    display: flex;
    justify-content: center;
    margin: 0px;
}

.h1{
    margin-top: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.btn-primary, .btn-danger{
    border-radius: 40px;
}

a.reg-b{
    font-size: 14px;
    color: steelblue;
    display: table-row-group;
}


a.reg {
    font-size: 14px;
    color: steelblue;
    display: table-row-group;
}

.main-h {
    color: antiquewhite;
    /* margin-left: 18rem; */
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}
.search-form-nav li a:first-child {
    width: 95%;
}
.form-control {
    background-color: #f5f5f5 !important;
    box-shadow: none !important;
    color: #565656 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    line-height: normal !important;
    min-height: 10px !important;
    padding: 0px 5px !important;
}
#id_amount {
    margin: 0;
    height: 37px!important;
    border-radius: 5px !important;
}
input#submit-id-find-offers {
    margin: 0 !important;
    /* height: 37px; */
    padding: 4px 10px !important;
    border-radius: 5px!important;
}
.main-h {}



#purchase-bitcoins-online h3 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-bottom: 20px;
}
.table td, .table th {
    background: #444444 !important;
    vertical-align: baseline !important;
}
#sell-bitcoins-online h3 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-bottom: 20px;
}
#twitter {
    margin-top: 20px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin: 30px 30px;
    background: transparent;
}

label-1{
    color: #fff;
    font-size: 15px;
    background: coral;
    border-radius: 30px; 
    padding: 2px 5px 1px 5px;
    margin-bottom: 20px;
}

.bdr{
    border: 1px solid #fff;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.col-xs-6 {
    width: 50%;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.chatbox {
    width: 100%;
    height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.chat-window {
    flex: auto;
    max-height: calc(100% - 60px);
    background: #2f323b;
    overflow: auto;
}
.chat-input {
    flex: 0 0 auto;
    height: 60px;
    background: #40434e;
    border-top: 1px solid #2671ff;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.chat-input input {
    height: 59px;
    line-height: 60px;
    outline: 0 none;
    border: none;
    width: calc(100% - 60px);
    color: white;
    text-indent: 10px;
    font-size: 12pt;
    padding: 0;
    background: #40434e;
}
.chat-input button {
    float: right;
    outline: 0 none;
    border: none;
    background: rgba(255,255,255,.25);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
    margin: 10px;
    transition: all 0.15s ease-in-out;
}
.chat-input input[good] + button {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    background: #2671ff;
}
.chat-input input[good] + button:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.chat-input input[good] + button path {
    fill: white;
}
.msg-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}
.msg-box {
    display: flex;
    background: #5b5e6c;
    padding: 10px 10px 0 10px;
    border-radius: 0 6px 6px 0;
    max-width: 80%;
    width: auto;
    float: left;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.user-img {
    display: none;
    /* display: inline-block; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}
.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}
.messages {
    flex: 1 0 auto;
}
.msg {
    display: inline-block;
    font-size: 11pt;
    line-height: 13pt;
    color: rgba(255,255,255,.7);
    margin: 0 0 4px 0;
}
.msg:first-of-type {
    margin-top: 8px;
}
.timestamp {
    color: rgba(0,0,0,.38);
    font-size: 8pt;
    margin-bottom: 10px;
}
.username {
    margin-right: 3px;
}
.posttime {
    margin-left: 3px;
}
.msg-self .msg-box {
    border-radius: 6px 0 0 6px;
    background: #2671ff;
    float: right;
}
.msg-self .user-img {
    margin: 0 0 10px 10px;
}
.msg-self .msg {
    text-align: right;
}
.msg-self .timestamp {
    text-align: right;
}